USE [master]
GO
/****** Object:  Database [RestaurantDB]    Script Date: 10.05.2026 16:14:25 ******/
CREATE DATABASE [RestaurantDB]
GO
USE [RestaurantDB];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[Allergens]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergens](
	[AllergenID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AllergenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProducts]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProducts](
	[MenuID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[MenuID] [int] NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [uniqueidentifier] NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[EstimatedDeliveryTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAllergens]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAllergens](
	[ProductID] [int] NOT NULL,
	[AllergenID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[AllergenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[PortionQuantity] [nvarchar](50) NOT NULL,
	[TotalQuantity] [decimal](10, 2) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Ingredients] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[DeliveryAddress] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [OrderCode]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[MenuProducts]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menus] ([MenuID])
GO
ALTER TABLE [dbo].[MenuProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menus] ([MenuID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductAllergens]  WITH CHECK ADD FOREIGN KEY([AllergenID])
REFERENCES [dbo].[Allergens] ([AllergenID])
GO
ALTER TABLE [dbo].[ProductAllergens]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Employee' OR [Role]='Client'))
GO
/****** Object:  StoredProcedure [dbo].[AddOrderDetail]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrderDetail]
    @OrderId INT,
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO OrderDetails (OrderID, ProductID, Quantity)
    VALUES (@OrderId, @ProductId, @Quantity);

    UPDATE Products
    SET TotalQuantity = TotalQuantity - @Quantity
    WHERE ProductID = @ProductId;
END;

GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
    @Name NVARCHAR(100),
    @CategoryID INT,
    @Price DECIMAL(10,2),
    @TotalQuantity INT,
    @PortionQuantity NVARCHAR(50),
    @Ingredients NVARCHAR(MAX) -- Parametrul nou
AS
BEGIN
    INSERT INTO Products (Name, CategoryID, Price, TotalQuantity, PortionQuantity, Ingredients)
    VALUES (@Name, @CategoryID, @Price, @TotalQuantity, @PortionQuantity, @Ingredients);
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct]
    @ProductId INT
AS
BEGIN
    DELETE FROM ProductAllergens WHERE ProductID = @ProductId;
    DELETE FROM Products WHERE ProductID = @ProductId;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetAllOrders]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllOrders]
AS
BEGIN
    SELECT o.OrderID, o.OrderDate, o.TotalValue, o.Status, u.FirstName + ' ' + u.LastName AS ClientName
    FROM Orders o
    JOIN Users u ON o.UserID = u.UserID
    ORDER BY o.OrderDate DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetCriticalStock]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCriticalStock]
    @Threshold INT
AS
BEGIN
    SELECT ProductID, Name, TotalQuantity, PortionQuantity
    FROM Products
    WHERE TotalQuantity <= @Threshold;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetFullMenu]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFullMenu]
AS
BEGIN
    SELECT 
        c.Name AS Categorie, 
        p.Name AS Produs, 
        p.Price AS Pret, 
        p.PortionQuantity AS CantitatePortie,
        p.TotalQuantity AS StocTotal
    FROM Products p
    JOIN Categories c ON p.CategoryID = c.CategoryID;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetTopSellingProducts]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProducts]
AS
BEGIN
    SELECT TOP 5 
        p.Name, 
        SUM(od.Quantity) as TotalSold,
        SUM(od.Quantity * p.Price) as TotalRevenue
    FROM OrderDetails od
    JOIN Products p ON od.ProductID = p.ProductID
    GROUP BY p.Name
    ORDER BY TotalSold DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProduct]
    @Name NVARCHAR(100),
    @Price DECIMAL(10, 2),
    @Portion NVARCHAR(50),
    @TotalQty DECIMAL(10, 2),
    @CatID INT
AS
BEGIN
    INSERT INTO Products (Name, Price, PortionQuantity, TotalQuantity, CategoryID)
    VALUES (@Name, @Price, @Portion, @TotalQty, @CatID);
END;

GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUser]
    @Email NVARCHAR(150),
    @Password NVARCHAR(255)
AS
BEGIN
   
    SELECT UserID, LastName, FirstName, Email, Password, Role, DeliveryAddress, Phone
    FROM Users 
    WHERE Email = @Email AND Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[PlaceOrder]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PlaceOrder]
    @UserId INT,
    @TotalCost DECIMAL(18,2),
    @Status NVARCHAR(50),
    @OrderDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Orders (UserId, TotalCost, Status, OrderDate)
    VALUES (@UserId, @TotalCost, @Status, @OrderDate);
    
    SELECT CAST(SCOPE_IDENTITY() AS DECIMAL(18,2)) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @LastName NVARCHAR(100),
    @FirstName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(MAX),
    @Password NVARCHAR(255),
    @Role NVARCHAR(20)
AS
BEGIN
    INSERT INTO Users (LastName, FirstName, Email, Phone, DeliveryAddress, Password, Role)
    VALUES (@LastName, @FirstName, @Email, @Phone, @Address, @Password, @Role);
END;

GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderStatus]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOrderStatus]
    @OrderID INT,
    @NewStatus NVARCHAR(50)
AS
BEGIN
    UPDATE Orders 
    SET Status = @NewStatus 
    WHERE OrderID = @OrderID;
END;

GO
/****** Object:  StoredProcedure [dbo].[UpdateProductStock]    Script Date: 10.05.2026 16:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProductStock]
    @ProductID INT,
    @NewQuantity DECIMAL(10, 2)
AS
BEGIN
    UPDATE Products 
    SET TotalQuantity = @NewQuantity 
    WHERE ProductID = @ProductID;
END;

GO
USE [master]
GO

USE [RestaurantDB]
GO

INSERT INTO [dbo].[Users] 
    ([LastName], [FirstName], [Email], [Phone], [DeliveryAddress], [Password], [Role])
VALUES 
    (N'Ionescu', N'Andrei', N'admin@restaurant.ro', N'0722111222', N'Str. Principală Nr. 1, București', N'admin123', N'Employee');

INSERT INTO [dbo].[Users] 
    ([LastName], [FirstName], [Email], [Phone], [DeliveryAddress], [Password], [Role])
VALUES 
    (N'Popescu', N'Maria', N'maria.p@email.com', N'0733444555', N'Bd. Libertății Nr. 10, Ap. 4, București', N'client123', N'Client');

GO